/* Default */

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    text-align: center;
}


/* Nav */

#top-nav {
    padding: 3rem 2rem;
}

#top-logo {
    float: left;
    width: 9rem;
}

nav {
    float: right;
}

nav>a {
    margin: 0 1rem;
    text-decoration: none;
}

.normal-btn {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: white;
}

#white-btn {
    color: black;
    font-family: "Fraunces", serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 2.5rem;
    margin-left: 1rem;
}

#title>h1 {
    margin: 0 auto;
    padding-top: 5rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    word-spacing: 0.6rem;
    padding-bottom: 5rem;
}


/* Cards */

.cards h2 {
    font-size: 2.2rem;
}

.cards p {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
}

.white-bg-card p {
    color: hsl(232, 10%, 55%);
    line-height: 1.7rem;
    margin-bottom: 2.4rem;
}

.cards h2,
a {
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
}

.cards a {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.cards h2 {
    font-size: 2.25rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    margin-bottom: 1.8rem;
}

.white-bg-card {
    display: block;
    text-align: left;
}

.white-bg-card>div {
    padding: 8.7rem 5rem 0rem 9rem;
}

.cards>div {
    height: 75vh;
}

.divider>div {
    height: 60vh;
}

.learn-more {
    text-decoration: none;
}

#yellow-underline {
    box-shadow: 0 2.5em 0 1.1em #ffffff, 0 -1.6em 0 1.1em #FFFFFF, 0 -0.5em 0 0em #FFFFFF, inset 0 -0.5em 0 0em hsla(51, 100%, 49%, 0.30), 0.4em 0.0em 0 0em hsla(51, 100%, 49%, 0.30), -0.4em 0.0em 0 0em hsla(51, 100%, 49%, 0.30);
}

#yellow-underline:hover {
    box-shadow: 0 2.5em 0 1.1em #ffffff, 0 -1.6em 0 1.1em #FFFFFF, 0 -0.5em 0 0em #FFFFFF, inset 0 -0.5em 0 0em hsla(51, 100%, 49%, 1), 0.4em 0.0em 0 0em hsla(51, 100%, 49%, 1), -0.4em 0.0em 0 0em hsla(51, 100%, 49%, 1);
}

#red-underline {
    box-shadow: 0 2.5em 0 1.1em #ffffff, 0 -1.6em 0 1.1em #FFFFFF, 0 -0.5em 0 0em #FFFFFF, inset 0 -0.5em 0 0em hsla(7, 99%, 70%, 0.30), 0.4em 0.0em 0 0em hsla(7, 99%, 70%, 0.3), -0.4em 0.0em 0 0em hsla(7, 99%, 70%, 0.30);
}

#red-underline:hover {
    box-shadow: 0 2.5em 0 1.1em #ffffff, 0 -1.6em 0 1.1em #FFFFFF, 0 -0.5em 0 0em #FFFFFF, inset 0 -0.5em 0 0em hsla(7, 99%, 70%, 1), 0.4em 0.0em 0 0em hsla(7, 99%, 70%, 1), -0.4em 0.0em 0 0em hsla(7, 99%, 70%, 1);
}


/* Cherry */

.color-background-card h3 {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 1.75rem;
}

.container>p {
    font-size: 1rem;
    line-height: 150%;
}

.color-background-card>.container {
    margin: 22rem 9.5rem 0 9.5rem;
}

#graphic-design h3 {
    color: hsl(167, 40%, 24%);
}

#photography h3 {
    color: hsl(198, 62%, 26%);
}

#graphic-design p {
    color: rgb(56, 116, 104);
}

#photography p {
    color: rgb(13, 87, 124);
}


/* Background images */

header {
    background-image: url(./images/desktop/image-header.jpg);
    height: 100vh;
    width: 100%;
}

#photography {
    background-image: url("./images/desktop/image-photography.jpg");
}

#graphic-design {
    background-image: url("./images/desktop/image-graphic-design.jpg");
}

#egg {
    background-image: url("./images/desktop/image-transform.jpg");
}

#cup {
    background-image: url("./images/desktop/image-stand-out.jpg");
}

#bottle {
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
}

#plate {
    background-image: url("./images/desktop/image-gallery-orange.jpg");
}

#cone {
    background-image: url("./images/desktop/image-gallery-cone.jpg");
}

#sugar {
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
}

footer {
    background-color: rgb(144, 212, 197);
    /*hsl(168, 29%, 67%);*/
    color: hsl(168, 34%, 41%);
    height: 40vh;
}


/* Display grid*/

.cards,
.clients,
.divider {
    display: grid;
}

.cards {
    grid-template-columns: repeat(2, 1fr);
}

.clients {
    grid-template-columns: repeat(3, 1fr);
}

.divider {
    grid-template-columns: repeat(4, 1fr);
}


/* Other */

.client-testimonials {
    height: 60vh;
    margin: 20vh 0 17vh 0;
}

.client-testimonials h4 {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: rgb(175, 175, 175);
    padding-bottom: 4.5rem;
}

.clients p {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    line-height: 1.7rem;
    margin-bottom: 4rem;
    padding: 0 3.3rem;
}

.clients img {
    border-radius: 50%;
    height: 4rem;
    margin-bottom: 3rem;
}

.clients h5 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin-bottom: 1.0rem;
    color: hsl(212, 27%, 19%);
}

.clients h6 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: hsl(210, 4%, 67%);
}